
<div class="mypage-box">
<%= form_for(@user) do |f| %>
<%= image_tag "user.jpg" , size:"300" %>
<table class="table" style="margin-top: 30px;">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">入力フォーム</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">ユーザーネーム</th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th scope="row">メールアドレス</th>
      <td><%= f.email_field :email %></td>
    </tr>
    <tr>
      <th scope="row">挨拶</th>
      <td><%= f.text_area :introduction, size:"60x5" %></td>
    </tr>
    <tr>
      <td><%= f.submit "マイページへ戻る", class: "btn btn-success" %></td>
      <td><%= f.submit "ユーザー情報を更新する", class: "btn btn-primary" %></td>
    </tr>
  </tbody>
</table>

<% end %>
</div>

